.container {
    justify-content: center;
    background-color: aqua;
    display: flex;
    flex-direction: column;
}
.box {
    background-color: #bbada0;
    max-width: 800px;
    max-height: 800px;
    min-width: 400px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
}

.tile {
    width: 90px;
    height: 90px;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
}


.row{
    display: flex;
    padding: 5px;
    justify-content: space-between;
}

.head-row{
    display: flex;
    justify-content: space-between;
}

.head-row .tile{
    font-size: 2rem;
}

