.container {
    justify-content: center;
    background-color: aqua;
    display: flex;
}
.box {
    background-color: blue;
    max-width: 800px;
    max-height: 800px;
    min-width: 400px;
    min-height: 400px;
}

.tile {
    width: 10%;
    height: 10%;
}

.row{
    display: flex;
}
