.container {
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 50px;
}
.box {
    background-color: #bbada0;
    max-width: 800px;
    max-height: 800px;
    min-width: 400px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
}

.tile {
    width: 70px;
    height: 70px;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    font-size: 3rem;
}


.row{
    display: flex;
    padding: 5px;
    justify-content: space-between;
}

.head-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-row .title{
    font-size: 6rem;
    margin: 0;
}

.info-row{
    display: flex;
    justify-content: space-between;
}
.info-row p span{
    font-weight: 700;
    margin: 0;
}

.info-row button{
    border-radius: 5px;
    background-color: #8f7a66;
    padding: 0 14px;
    cursor: pointer;
    color: white;
    border: none;
    margin-bottom: 10px;
    font-size: 1.1rem;
}

.score {
    background-color: #bbada0;
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 10px 15px;
}
